@font-face {
  font-family: 'icomoon';
  src:  url('../icon_font/icomoon.eot?hc9kiw');
  src:  url('../icon_font/icomoon.eot?hc9kiw#iefix') format('embedded-opentype'),
    url('../icon_font/icomoon.ttf?hc9kiw') format('truetype'),
    url('../icon_font/icomoon.woff?hc9kiw') format('woff'),
    url('../icon_font/icomoon.svg?hc9kiw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="g-"], [class*="g-"]::before,[class*="g-"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.g-telegram:before {
  content: "\e90e";
}
.g-angle-down:before {
  content: "\e900";
}
.g-angle-left:before {
  content: "\e901";
}
.g-angle-right:before {
  content: "\e902";
}
.g-angle-up:before {
  content: "\e903";
}
.g-check:before {
  content: "\e904";
}
.g-chevron-down:before {
  content: "\e905";
}
.g-chevron-left:before {
  content: "\e906";
}
.g-chevron-right:before {
  content: "\e907";
}
.g-chevron-up:before {
  content: "\e908";
}
.g-facebook:before {
  content: "\e909";
}
.g-linkedin:before {
  content: "\e90a";
}
.g-whatsapp:before {
  content: "\e90b";
}
.g-youtube:before {
  content: "\e90c";
}
.g-rub:after {
  content: "\e90d";
}
