
// MIXIN

@mixin anim($time,$delay) {transition: all $time ease $delay;}


@mixin font($font-size, $line-height){
   font-size: $font-size;
   line-height: calc($line-height/$font-size); 
}
@mixin reset-model {
  margin: 0;
  padding: 0;
  
}
@mixin reset-list {
  list-style: none;
  @include reset-model();
  
}

@mixin adaptive-font($pcFont,$mobFont) {

    font-size: calc(#{$pcFont}px + $mobFont * ((100vw - 767px) / 1920));
  
}
@mixin adaptive($_var,$pcFont,$mobFont) {

    $_var: calc(#{$pcFont}px + $mobFont * ((100vw - 767px) / 1920));
  
}


@mixin reset-link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  border: 0;

  
}

@mixin reset-btn {
  text-decoration: none;
  display: inline-block;
  color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  
}


@mixin adaptive-font($pc_value,$mob_value) {
  $add_size: $pc_value - $mob_value;
  $add_mobsize: $add_size + $add_size * 0.7;
  font-size: calc(#{$mob_value}px + #{$add_size} * (100vw / #{$maxWidth}));
  @media screen and (max-width: 767px) { 
	font-size: calc(#{$mob_value}px + #{$add_size} * ((100vw - 320px) / #{$maxWidth}));
  
}
}

@mixin adaptivValue ($value,$pc_value,$mob_value){
  $add_size: $pc_value - $mob_value;
  $add_mobsize: $add_size + $add_size * 0.7;
  #{$value}: calc(#{$mob_value}px + #{$add_size} * (100vw / #{$maxWidth}));
  @media screen and (max-width: 767px) { 
	#{$value}: calc(#{$mob_value}px + #{$add_size} * ((100vw - 320px) / #{$maxWidth}));
}
  // @media screen and (min-width: 767px) { 
	
// }
}

@mixin h-0 {
	font-size:64px;
	font-family:"Inter";
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	text-transform:none;
}
@mixin descriptor {
	font-size:32px;
	font-family:"Inter";
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	text-transform:none;
}
@mixin text-14 {
	font-size:14px;
	font-family:"Inter";
	font-weight:400;
	font-style:normal;
	line-height:120%;
	text-decoration:none;
	text-transform:none;
}
@mixin меню {
	font-size:14px;
	font-family:"Inter";
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	text-transform:uppercase;
}
@mixin показатели {
	font-size:14px;
	font-family:"Inter";
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	text-transform:uppercase;
}
@mixin text-12 {
	font-size:12px;
	font-family:"Inter";
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	text-transform:lowercase;
}
@mixin h-1 {
	font-size:16px;
	font-family:"Inter";
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	text-transform:uppercase;
}

