@use "sass:math";
@import "_components/_normalize.scss";
// @import "_components/_stylesheet.scss";
@import "_components/_vars.scss";
@import "_components/_function.scss";
@import "_components/_mixin.scss";


html {
  font-size: $font-size;
  font-family: $font-family;
  // text-rendering: optimizeLegibility;
  line-height: $line-height;
  font-weight: 400;
  font-style: normal;
  color: $black;
  // text-rendering: optimizeLegibility;   
}

//  body{ 

  // zoom: 110%
// } 

.cf:after,
.cf:before { content: " "; 
  display: table; }

.cf:after {
  clear: both; }
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
    // padding-left: 15px;
  // padding-right: 15px;
}
.container {
  width: 100%;
  max-width: calc(30px + #{$conteinerWidth}px);
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media (max-width: #{$md1}px) {max-width: 970px;}
  @media screen and (max-width: #{$md2}px) {max-width: 720px;}
  @media screen and (max-width: #{$md3}px) {max-width:none;padding: 0 10px;};
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:30px;
}

a {
  color: inherit;
  cursor: pointer;
}

img{

  max-width: 100%;
}

.vhidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: nonr;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rub {

  &:after{
    content:"";
    background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0V10H0V12H2V14H0V16H2V20H4V16H9V14H4V12H10C13.3008 12 16 9.30078 16 6C16 2.69922 13.3008 0 10 0H2ZM4 2H10C12.2188 2 14 3.78125 14 6C14 8.21875 12.2188 10 10 10H4V2Z' fill='currentColor'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    display: inline-block;
    width: 23px;
    height: 23px;
  
    // background-color: red;
  }
}

@import "_components/_global.scss";
@import "_header.scss";
@import "_components/_burger.scss";
@import "_main.scss";
@import "_footer.scss";



